@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");

:root {
	--light-grey: rgb(227, 227, 227);
	--adamina: "Adamina", serif;
	--selected-unit-color: rgb(236, 110, 76);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

body.loader {
	background-image: url("../images/loader.gif");
}

#content {
	display: grid;
}

#location-div {
	width: 100vw;
	height: 65vh;
	background-image: url("../images/location/pretoria-image.jpg");
	background-size: cover;
}

#weather-div {
	display: grid;
	grid-template-columns: 10% 20%;
	background-color: var(--light-grey);
}

#weather-icon {
	background-color: transparent;
}

#icon-details-div {
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#temperature-div {
	display: grid;
	height: 35vh;
	border: 1px solid #e6e6e6;
	grid-template-columns: 75% 25%;
	grid-template-rows: repeat(2, 50%);
}

#icon-details-text {
	position: relative;
	top: -15px;
	font-family: var(--adamina);
	font-size: 1.1rem;
}

#temperature {
	display: grid;
	place-items: center;
	grid-row: 1 / 3;
	font-family: var(--adamina);
	font-size: 5rem;
	color: var(--selected-unit-color);
}

#celsius,
#fahrenheit {
	width: 120px;
	height: 60px;
	font-family: var(--adamina);
	font-size: 2.5rem;
	background-color: white;
	border: none;
}

#celsius:hover,
#fahrenheit:hover {
	transform: scale(1.1);
}

#celsius {
	align-self: end;
	margin-bottom: 5px;
}

#celsius.unselected-unit,
#fahrenheit.unselected-unit {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#celsius.selected-unit,
#fahrenheit.selected-unit {
	border: 1px solid var(--selected-unit-color);
	color: var(--selected-unit-color);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#fahrenheit {
	margin-top: 5px;
}
